.content{

    padding: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 40px;
    
}
body{

    background-image: url('https://picsum.photos/2000/2000?grayscale')
}

.time-periods{

    display: grid;
    grid-template-rows: 2fr 2fr 1fr;
    gap:10px;


}
.dates {
display: flex;
gap:10px

}

.results {
    background-color: aquamarine;
    width: 200px;
    padding: 20px;
}